
html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    background-color: black;
    margin: 8px;
    text-align: center;
    height: auto;
    width: auto;
    display: block;
}
h1 {
    font-size: 50px;
    font-weight: 400;
    margin: 33px 0;
}
p {
    color: rgb(128, 128, 128);
    font-size: 21px;
    margin: 21px 0;
}
video {
    content: normal;
    display: inline;
    height: 720px;
    object-fit: contain;
}
h2 {
    font-size: 42px;
    font-weight: 300;
    margin: 34px 0;
}
div {
    text-align: right;
}
a {
    text-decoration-line: underline;
    cursor: auto;
}
.link {
    color: aquamarine;
    font-size: 16px;
}